{% extends "_base.html" %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="auth-card">
        <h3 class="text-center mb-4">Вход в систему</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Имя пользователя</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Пароль</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>
{% endblock %}
